*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.top-nav {
	background-color: #24292e;
	color: #ffffff;
	display: flex;
	justify-content: space-between;
	line-height: 5.5vh;
	padding: 0 31px;
}

.top-nav > div {
	display: flex;
}

.top-nav > div a #github {
	font-size: 33px;
	margin: 12px 15px 10px 0px;
	color: #ffffff;
	cursor: pointer;
}

.top-nav > div a #github:hover {
	color: #808080;
}

.top-nav > div .input {
	border: 1px solid rgb(85, 84, 84);
	height: 32px;
	border-radius: 5px;
	margin: auto 5px auto 0px;
	padding: 0px 5px 0px 0px;
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: space-between;
}

.top-nav > div input {
	background-color: transparent;
	color: #ffffff;
	border: none;
	padding: 0 80px 0 10px;
	font-family: sans-serif;
}

.top-nav > div input::placeholder {
	font-size: 14px;
	color: rgb(175, 175, 175);
}

.top-nav > div .input p {
	font-size: 8px;
	border: 1px solid rgb(85, 84, 84);
	border-radius: 5px;
	margin: 5px 0;
	padding: 0px 6px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-nav ul {
	display: flex;
	list-style: none;
}

.top-nav ul li {
	font-family: sans-serif;
	text-transform: capitalize;
	color: #ffffff;
	font-size: 12px;
	line-height: 21px;
	font-weight: 600;
	font-style: normal;
	margin: auto 10px;
	cursor: pointer;
	letter-spacing: 1px;
}

.top-nav ul li:hover {
	color: #808080;
}

.top-nav .notify {
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-nav .notify a {
	font-size: 18px;
	color: #ffffff;
	margin-right: 20px;
}

.top-nav .notify p {
	font-size: 25px;
	font-weight: bold;
	margin-right: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-nav .notify p #fas {
	font-size: 12px;
	margin-left: 2px;
	margin-top: -5px;
}

.top-nav .notify .img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.top-nav .notify img {
	border: 1px solid transparent;
	border-radius: 50%;
}

.top-nav .notify .img #fas {
	font-size: 12px;
	margin-left: 2px;
	margin-top: -5px;
}

/* ------------------------header------------------- */

header {
	grid-column: 1/3;
}

header hgroup {
	display: flex;
	justify-content: center;
	border: 1px solid rgba(204, 203, 203, 0.692);
	height: 10vh;
}

header hgroup h2 {
	color: #4d4d4e;
	font-size: 14px;
	font-weight: 500;
	text-transform: capitalize;
	line-height: 30px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 8px 16px;
	margin-top: auto;
}

header hgroup h2 i {
	font-size: 14px;
	color: rgb(175, 175, 175);
	padding-right: 5px;
}

header hgroup h2:nth-child(2) {
	font-weight: bold;
	border-bottom: 2px solid rgb(255, 105, 79);
}

header hgroup h2:nth-child(2) span {
	background-color: #cfcfcf54;
	border-radius: 20px;
	margin: 5px 3px -5px 3px;
	padding: 2px 7px 4px 7px;
}

/* ------------main-course---------------- */
.main-container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-column-gap: 1em;
}

.main-container .description {
	margin-right: 30px;
	padding: 0 0 0 200px;
}

.main-container .description > div img {
	border-radius: 50%;
	margin-top: -30px;
	margin-bottom: 15px;
}

.main-container .description > div p {
	font-family: Arial, Helvetica, sans-serif;
	position: absolute;
	margin-top: -85px;
	margin-left: 239px;
	padding: 10px 10px 6px 10px;
	background-color: #ffffff;
	border-radius: 20px;
	font-size: 12px;
	font-weight: 400;
	line-height: 20px;
	color: rgb(3, 102, 214);
	-webkit-box-shadow: 0px 0px 9px 4px rgba(50, 50, 50, 0.31);
	-moz-box-shadow: 0px 0px 9px 4px rgba(50, 50, 50, 0.31);
	box-shadow: 0px 0px 9px 4px rgba(50, 50, 50, 0.31);
}

.main-container .description > div p i {
	font-size: 18px;
	color: rgb(85, 84, 84);
	margin: auto 0px;
}

.main-container .description > div p span {
	display: none;
}

.main-container .description > div p:hover span {
	display: inline-block;
	margin-left: 2px;
}

.main-container .description h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-weight: bold;
	line-height: 32.5px;
	color: rgb(36, 41, 46);
	margin-bottom: 0px;
}

.main-container .description h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 400;
	color: rgb(138, 138, 138);
	margin-bottom: 10px;
}

.main-container .description h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	color: #24292e;
	width: 250px;
}

.main-container .description button {
	font-family: Arial, Helvetica, sans-serif;
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	background-color: transparent;
	color: rgb(36, 41, 46);
	margin: 10px 0;
	padding: 5px 0;
	border-radius: 5px;
	border: 1px solid rgba(204, 203, 203, 0.692);
	cursor: pointer;
}

.main-container .description button:hover {
	background-color: #d3d3d338;
}

.main-container .description .follow {
	display: flex;
	list-style: none;
	margin-bottom: 20px;
}

.main-container .description .follow li i {
	color: rgb(146, 146, 146);
	padding-right: 5px;
}

.main-container .description .follow li {
	font-family: Arial, Helvetica, sans-serif;
	margin-right: 10px;
	font-size: 14px;
	font-weight: 400;
	color: rgb(88, 96, 105);
}

.main-container .description .follow li span {
	padding-right: 5px;
	color: #24292e;
	font-weight: bold;
}

.main-container .description .location li {
	list-style: none;
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 21px;
	color: rgb(36, 41, 46);
	margin-bottom: 5px;
}

.main-container .description .location i {
	color: rgb(146, 146, 146);
	margin-right: 7px;
}

.main-container .description .location li:nth-child(2) {
	margin-left: -2px;
}

.main-container .description .location li:nth-child(3) {
	margin-left: -4px;
}

.main-container article {
	padding-right: 200px;
}

.main-container article input {
	width: 100%;
	margin: 15px 0;
	padding: 6.5px 10px;
	border: 1px solid rgba(204, 203, 203, 0.692);
	border-radius: 5px;
}

.main-container article .sect {
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid rgba(204, 203, 203, 0.692);
	border-left: none;
	border-right: none;
	padding: 22px 0;
	display: flex;
	justify-content: space-between;
}

.main-container article > section > div h2 {
	font-size: 20px;
	font-weight: 600;
	line-height: 30px;
	color: rgb(3, 102, 214);
	margin-bottom: 5px;
}

.main-container article > section > div h4 {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: rgb(88, 96, 105);
}

.main-container article section ul {
	display: flex;
}

.main-container article > section ul li {
	list-style: none;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	color: rgb(88, 96, 105);
	margin-right: 20px;
}

.main-container article section ul li:nth-child(1) {
	height: 12px;
	width: 12px;
	border-radius: 50%;
	background-color: rgb(48, 0, 82);
	margin: auto 5px auto 0px;
}

.main-container article > section button {
	height: 35px;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	background-color: transparent;
	color: rgb(36, 41, 46);
	margin: auto 0;
	padding: 0px 25px;
	border-radius: 5px;
	border: 1px solid rgba(204, 203, 203, 0.692);
	cursor: pointer;
}

.top-nav .mobile-view {
	display: none;
}

/* --------mobile responsiveness-------- */
@media screen and (max-width: 768px) {
	.top-nav .div,
	.top-nav .notify {
		display: none;
	}

	.top-nav {
		display: block;
	}

	.top-nav .mobile-view {
		display: block;
		background-color: #24292e;
		transition: all 0.2s ease-in-out;
		overflow: hidden;
	}

	.top-nav .mobile-view .dropDown {
		display: flex;
		justify-content: space-between;
	}

	.top-nav .mobile-view.closed .mobile-list {
		height: 0px;
	}

	.top-nav .mobile-view .mobile-list {
		flex-direction: column;
		height: 370px;
		list-style: none;
		width: 100%;
		background-color: #24292e;
	}

	.top-nav .mobile-view ul li {
		font-family: sans-serif;
		text-transform: capitalize;
		color: #ffffff;
		font-size: 15px;
		line-height: 21px;
		font-weight: 500;
		font-style: normal;
		margin: auto 10px auto -10px;
		cursor: pointer;
		letter-spacing: 1px;
		border-top: 1px solid rgb(175, 175, 175);
		padding: 10px 0 0 10px;
	}

	.top-nav .mobile-view .mobile-list .fift {
		display: flex;
	}

	.top-nav .mobile-view .mobile-list img {
		border-radius: 50%;
		margin-right: 5px;
	}

	.top-nav .mobile-view ul input {
		margin: 12px 0;
		padding: 7px 10px;
		border: 1px solid rgba(175, 175, 175, 0.699);
		border-radius: 5px;
		z-index: 999999;
	}

	.top-nav .mobile-view .dropDown i {
		color: #ffffff;
		font-size: 30px;
		cursor: pointer;
		margin: 12px 0px;
	}

	.top-nav .mobile-view #bell {
		font-size: 18px;
		margin: auto 0px;
	}

	.top-nav .mobile-view i:nth-child(1),
	.top-nav .mobile-view i:nth-child(3) {
		color: #808080;
	}

	.main-container {
		grid-template-columns: 1fr;
	}

	.main-container header {
		grid-row: 2;
		margin-top: 40px;
	}

	header hgroup {
		border-top: none;
		border-left: none;
		border-right: none;
		justify-content: space-between;
		padding: 5px 15px 0px 15px;
	}

	.main-container header hgroup h2 {
		font-size: 14px;
		font-weight: 400;
		line-height: normal;
		font-family: sans-serif;
		padding-bottom: 10px;
	}

	.main-container header hgroup h2 i {
		display: none;
	}

	.main-container .description {
		width: 100%;
		padding: 0 20px;
		grid-column: 1/3;
	}

	.main-container article {
		padding: 0 20px;
	}

	.main-container .description > div img {
		margin-top: 0px;
		margin-bottom: 15px;
		height: 65px;
		width: 65px;
	}

	.main-container .description > div p {
		font-family: sans-serif;
		position: relative;
		margin-top: 0px;
		margin-left: 0px;
		margin-bottom: 10px;
		padding: 7px 10px;
		border: 1px solid rgba(194, 191, 191, 0.315);
		color: #24292e;
		border-radius: 5px;
		font-size: 14px;
		box-shadow: none;
		display: flex;
	}

	.main-container .description > div p i {
		margin: auto 10px;
	}

	.main-container .description > div p span {
		display: block;
	}

	.main-container .description h1 {
		font-family: sans-serif;
		font-size: 24px;
		font-weight: 600;
		line-height: 21px;
		color: rgb(36, 41, 46);
		margin-bottom: 0px;
		margin-top: -120px;
		margin-left: 100px;
	}

	.main-container .description h2 {
		margin-left: 100px;
		margin-bottom: 40px;
	}

	.main-container .description h4 {
		font-family: sans-serif;
		font-size: 15px;
		font-weight: 300;
		width: 100%;
		margin-bottom: 5px;
	}

	.main-container .description button {
		font-family: sans-serif;
		font-size: 13px;
		margin: 10px 0 15px 0;
	}

	.main-container .description .follow {
		display: flex;
		list-style: none;
	}

	.flexName{
		display: flex;
		flex-direction: column-reverse;
	}

	.main-container .description .location li:nth-child(1),
	.main-container .description .location li:nth-child(3) {
		display: none;
	}

	.main-container article {
		padding-right: 0px;
	}

	.main-container article input {
		width: 100%;
		margin: 15px 0;
		padding: 6.5px 10px;
		border: 1px solid rgba(204, 203, 203, 0.692);
		border-radius: 5px;
	}

	.main-container article .sect:nth-child(1) {
		border-top: none;
		padding-top: 0px;
	}

	.main-container article > section > div h2 {
		font-size: 18px;
		font-weight: 600;
		margin-bottom: 0px;
	}

	.main-container article > section > div h4 {
		margin-bottom: 16px;
		margin-right: 10px;
		font-size: 12px;
	}

	.main-container article > section ul li {
		font-size: 10px;
		margin-right: 10px;
	}

	.main-container article section ul li:nth-child(1) {
		height: 8px;
		width: 8px;
	}

	.main-container article > section button {
		height: 30px;
		padding: 0px 20px;
	}
}
